# phpstan.neon
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 5
    paths:
        - app

    #checkMissingIterableValueType: true
    #checkGenericClassInNonGenericObjectType: true
    #checkUninitializedProperties: true
    #checkDynamicProperties: true
